
openai==1.97.2                       #   OpenAI 
discord==2.3.2                   #   Discord Bot

youtube-transcript-api==1.2.2          #   YouTube Transcripts
requests==2.32.4                   #   HTTP requests
isodate==0.7.2                      #   ISO 8601 duration parsing
google-auth==2.40.3                 #   Google Authentication

google-api-python-client>=2.177.0     #   Youtube API
python-dotenv==1.1.1                #   .env files
nltk==3.9.1                                #  Summarizing
httpx==0.28.1



